* {
    font-family: 'Lato', sans-serif;;
}

.navbar {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 1.8rem;
    background-color: #f1f1f1;
    height: 100%; 
    position: fixed; 
    overflow: auto;
}

.primary {
    background-color: black;
    opacity: 80%;
    margin-left: 1.8rem;
    display: flex;
}

.image {
    width: 25vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 15vw;
    height: 25vh;
    position: relative;
    padding-left: 10px;
    margin-top: 0rem;
}

.description {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.album {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: xx-small;
}

.features {
    color: white;
    display: flex;
    font-size: x-small;
}

.songs {
    margin-left: 1.8rem;
    margin-bottom: 13.5rem;
}

.current-song {
    background-color: cornflowerblue;
    opacity: 80%;
    display: flex;
    max-height: 5rem;
    margin-left: 1.8rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    color: #f1f1f1;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.song-functionality {
    display: flex;
    justify-content: right;
    margin-left: 120px;
    margin-top: 15px;
}

.title {
    font-size: x-large;
}

.features > .fa-solid {
    padding-right: 1rem;
}

tr:nth-child(even) {
    background-color: rgb(196, 196, 196);
  }

table {
    padding-left: 0.5rem;
    padding-top: 1rem;
    width: 100%;
}

.small-img {
    width: 5vw;
    height: 7vh;
}

.song-functionality i {
    margin-right: 100px;
}