* {
    font-family: 'Lato', sans-serif;;
}

.navbar {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 1.8rem;
    background-color: #f1f1f1;
    height: 100%; 
    position: fixed; 
    overflow: auto;
}

.primary {
    background-color: black;
    opacity: 80%;
    margin-left: 1.8rem;
}

.image {
    width: 25vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 15vw;
    height: 20vh;
    position: relative;
    padding-left: 10px;
  }

.album {
    color: white;
    display: flex;
}

.features {
    color: white;
}

.songs {
    margin-left: 1.8rem;
}

.current-song {
    background-color: cornflowerblue;
    opacity: 80%;
    display: flex;
    max-height: 5rem;   
}